<nav class="h-screen flex flex-col">
    <!-- Logo -->
    <div class="py-2 border-b-2">
        <p class="font-black tracking-widest text-3xl text-amber-700">BMS</p>
    </div>
    <ul class="text-lg font-medium font-serif mt-3 ">
        <li><a routerLink="/" routerLinkActive="active" class="hover:underline">Dashboards</a></li>
        <li><a routerLink="/customer" routerLinkActive="active" class="hover:underline">Customer</a></li>
        <li><a routerLink="/transaction" routerLinkActive="active" class="hover:underline">Transaction</a></li>
        <li><a routerLink="/auth/login" routerLinkActive="active" class="hover:underline">Login</a></li>
    </ul>
</nav>