<section class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="max-w-sm w-full border py-6 px-8 bg-white shadow-lg rounded-lg">
      <h2 class="text-xl font-semibold text-center text-primary mb-4">
        {{ isLoginMode ? 'Login' : 'Register' }}
      </h2>
      <p *ngIf="responseMessage" 
         class="text-center font-medium text-sm py-2 rounded mt-3"
         [ngClass]="{ 'text-green-700 bg-green-200': !isError, 'text-red-700 bg-red-200': isError }">
        {{ responseMessage }}
      </p>
  
      <form (ngSubmit)="onSubmit()" class="space-y-4">
        <!-- Login Form -->
        <div *ngIf="isLoginMode" class="space-y-2">
          <div class="grid">
            <label for="email">Email: </label>
            <input type="email" class="border px-3 py-2 rounded w-full" name="email" id="email"
                   [(ngModel)]="authData.emailId" required />
          </div>
          <div class="grid">
            <label for="password">Password: </label>
            <input type="password" class="border px-3 py-2 rounded w-full" name="password" id="password"
                   [(ngModel)]="authData.password" required />
          </div>
        </div>
  
        <!-- Register Form -->
        <div *ngIf="!isLoginMode" class="space-y-2">
          <div class="grid">
            <label for="userName">Username: </label>
            <input type="text" class="border px-3 py-2 rounded w-full" name="userName" id="userName"
                   [(ngModel)]="registerData.userName" required />
          </div>
          <div class="grid">
            <label for="email">Email: </label>
            <input type="email" class="border px-3 py-2 rounded w-full" name="email" id="email"
                   [(ngModel)]="registerData.emailId" required />
          </div>
          <div class="grid">
            <label for="password">Password: </label>
            <input type="password" class="border px-3 py-2 rounded w-full" name="password" id="password"
                   [(ngModel)]="registerData.password" required />
          </div>
          <div class="grid" *ngIf="isVerification">
            <label for="otp">Otp: </label>
            <input type="number" class="border px-3 py-2 rounded w-full" name="password" id="password"
                   [(ngModel)]="registerData.password" required />
          </div>
        </div>
  
        <button type="submit" 
                class="w-fit px-3 bg-primary text-white font-black tracking-widest text-15 font-serif border bg-sky-700 py-2 rounded hover:bg-primary-dark transition">
          {{ isLoginMode ? 'Login' : isVerification ? 'verifyOtp' : 'Register' }}
        </button>
      </form>
  
      <p class="text-end text-sm text-gray-600 mt-3">
        {{ isLoginMode ? "Don't have an account?" : "Already have an account?" }}
        <span class="text-secondary cursor-pointer" (click)="toggleMode()">
          {{ isLoginMode ? 'Sign up' : 'Login' }}
        </span>
      </p>
    </div>
  </section>
  